Repository openstack/python-ironicclient: changes, and which Zuul jobs are due for each by the changed paths.
All: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

ironicclient-functional:
  parent: devstack-minimal
  required-projects:
  - openstack/ironic
  - openstack/python-ironicclient
  - openstack/keystone
  - openstack/tempest
  timeout: 4800
  post-run: playbooks/functional/run.yaml
  vars:
    tox_environment:
      PYTHONUNBUFFERED: 'true'
    tox_envlist: functional
    devstack_plugins:
  ...

ironicclient-dsvm-functional:
  parent: legacy-dsvm-base
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/ironic
  - openstack/python-ironicclient
  run: playbooks/legacy/ironicclient-dsvm-functional/run.yaml
  post-run: playbooks/legacy/ironicclient-dsvm-functional/post.yaml
  timeout: 4800

ironicclient-tempest-dsvm-src:
  parent: legacy-dsvm-base
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/ironic
  - openstack/ironic-lib
  - openstack/ironic-python-agent
  - openstack/ironic-tempest-plugin
  - openstack/pyghmi
  - openstack/python-ironicclient
  - openstack/tempest
  - openstack/virtualbmc
  ...

Add `network_data` ironic node attribute support
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/v1/node.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/add-network-data-node-attr-81dec9cecb7491b9.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update .gitreview for stable/ussuri
  .gitreview
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update TOX/UPPER_CONSTRAINTS_FILE for stable/ussuri
  tox.ini
Due: ironicclient-dsvm-functional

Update master for stable/ussuri
  releasenotes/source/index.rst
  releasenotes/source/ussuri.rst
Due: none

Add Python3 victoria unit tests
  zuul.d/project.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Check import order
  ironicclient/osc/plugin.py
  ironicclient/tests/functional/osc/v1/test_baremetal_node_basic.py
  ironicclient/tests/functional/osc/v1/test_baremetal_portgroup_basic.py
  ironicclient/tests/unit/common/test_http.py
  ironicclient/tests/unit/osc/v1/test_baremetal_chassis.py
  ironicclient/tests/unit/osc/v1/test_baremetal_create.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/test_client.py
  ironicclient/tests/unit/v1/test_create_resources.py
  lower-constraints.txt
  test-requirements.txt
  tox.ini
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Restore default netboot boot option
  zuul.d/ironicclient-jobs.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Use unittest.mock instead of third party mock
  ironicclient/tests/unit/common/apiclient/test_base.py
  ironicclient/tests/unit/common/test_base.py
  ironicclient/tests/unit/common/test_filecache.py
  ironicclient/tests/unit/common/test_http.py
  ironicclient/tests/unit/common/test_utils.py
  ironicclient/tests/unit/osc/test_plugin.py
  ironicclient/tests/unit/osc/v1/fakes.py
  ironicclient/tests/unit/osc/v1/test_baremetal_allocation.py
  ironicclient/tests/unit/osc/v1/test_baremetal_chassis.py
  ironicclient/tests/unit/osc/v1/test_baremetal_create.py
  ironicclient/tests/unit/osc/v1/test_baremetal_deploy_template.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_port.py
  ironicclient/tests/unit/osc/v1/test_baremetal_portgroup.py
  ironicclient/tests/unit/osc/v1/test_baremetal_volume_connector.py
  ironicclient/tests/unit/osc/v1/test_baremetal_volume_target.py
  ironicclient/tests/unit/test_client.py
  ironicclient/tests/unit/test_exc.py
  ironicclient/tests/unit/utils.py
  ironicclient/tests/unit/v1/test_allocation.py
  ironicclient/tests/unit/v1/test_client.py
  ironicclient/tests/unit/v1/test_create_resources.py
  ironicclient/tests/unit/v1/test_driver.py
  ironicclient/tests/unit/v1/test_node.py
  test-requirements.txt
Due: ironicclient-functional, ironicclient-dsvm-functional

Add py38 package metadata
  setup.cfg
Due: ironicclient-dsvm-functional

Get rid of the oslo.serialization dependency
  ironicclient/common/http.py
  ironicclient/common/utils.py
  ironicclient/tests/unit/common/test_http.py
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/v1/node.py
  releasenotes/notes/json-bytes-2f0085202d5e5796.yaml
  requirements.txt
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Remove future dependency
  ironicclient/common/utils.py
  tools/install_venv_common.py
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add global_request_id into the base client methods
  ironicclient/common/base.py
  ironicclient/tests/unit/common/test_base.py
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Allow to pass additional arguments into adapter
  ironicclient/client.py
  ironicclient/common/http.py
  ironicclient/tests/unit/common/test_http.py
  ironicclient/tests/unit/test_client.py
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Switch to newer openstackdocstheme and reno versions
  doc/requirements.txt
  doc/source/conf.py
  lower-constraints.txt
  releasenotes/source/conf.py
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update lower-constraints.txt
  lower-constraints.txt
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Cap jsonschema 3.2.0 as the minimal version
  lower-constraints.txt
  requirements.txt
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

drop mock from lower-constraints
  lower-constraints.txt
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Fix pygments style
  doc/source/conf.py
  releasenotes/source/conf.py
Due: none

Allow to pass global request id in node methods
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/v1/node.py
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Allow to pass global request id for remaining objects
  ironicclient/tests/unit/v1/test_allocation.py
  ironicclient/tests/unit/v1/test_driver.py
  ironicclient/v1/allocation.py
  ironicclient/v1/chassis.py
  ironicclient/v1/conductor.py
  ironicclient/v1/deploy_template.py
  ironicclient/v1/driver.py
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Allow to pass global request id in port and volume
  ironicclient/v1/port.py
  ironicclient/v1/portgroup.py
  ironicclient/v1/volume_connector.py
  ironicclient/v1/volume_target.py
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add release note regarding global_request_id
  releasenotes/notes/support-passing-global-request-id-4b96beb31ec906cb.yaml
Due: none

Fix missing tox in functional devstack-minimal based job
  playbooks/functional/run.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add port-uuid parameter to node vif attach
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  releasenotes/notes/vif-attach-port-29a421b245e19f2b.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Remove pypy
  doc/source/contributor/testing.rst
  tox.ini
Due: ironicclient-dsvm-functional

Set min version of tox to 3.2.1
  tox.ini
Due: ironicclient-dsvm-functional

Fix expected exception message in one test
  ironicclient/tests/functional/osc/v1/test_baremetal_node_negative.py
Due: ironicclient-dsvm-functional

Temporary switch jobs to non-voting
  zuul.d/project.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Revert "Temporary switch jobs to non-voting"
  zuul.d/project.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Remove Babel requirement
  test-requirements.txt
Due: ironicclient-functional, ironicclient-dsvm-functional

Add tests for 'baremetal port create' command
  ironicclient/tests/functional/osc/v1/test_baremetal_port_create.py
Due: ironicclient-dsvm-functional

Update .gitreview for stable/victoria
  .gitreview
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update TOX_CONSTRAINTS_FILE for stable/victoria
  tox.ini
Due: ironicclient-dsvm-functional

Update master for stable/victoria
  releasenotes/source/index.rst
  releasenotes/source/victoria.rst
Due: none

Add Python3 wallaby unit tests
  zuul.d/project.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Fix l-c job
  lower-constraints.txt
  requirements.txt
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Remove install unnecessary packages
  tox.ini
Due: ironicclient-dsvm-functional

requirements: Drop os-testr
  lower-constraints.txt
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Path conditions:
  ironicclient-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^ironicclient/locale/.*$, ^ironicclient/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironicclient-dsvm-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  ironicclient-tempest-dsvm-src: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironicclient/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
